@import "reset";
@import "variables";
@import "mixins";

//main style
#main-nav{
  background:$deepBlue;
  ul{
    width:100%;
    @include clearFix;
    }
  li{
    float:left;
    width:(100%/6);
    @include mQ(600px){
      width:100%;
    }
  }
  a{
    color:$offWhite;
    text-decoration: none;
    padding:16px;
    display:block;
    text-align:center;
  }
  a:hover{
    background:lighten($deepBlue,5);
  }
}

#services{
  margin-bottom: 60px;
  li{
    box-sizing:border-box;
    float:left;
    text-align:center;
    width:(100%/3);

    }
  img{
    width:60%;
    margin:20px 20%;
  }
  a{
    text-decoration:none;
    color:$deepBlue;
    font-weight:bold;
    &:hover{
      color:complement($deepBlue);
    }
  }//end a
  ul{
    @include clearFix;
  }
}
